$primary_font: 'Poppins', sans-serif;
$second_font: 'Anton', sans-serif;

$bold: 500;
$extra_bold: 600;

$black: #1a1d20;
$white: rgb(255, 255, 255);
$gray: #8d8d8d;
$light_gray: #edecec;
$extra_light_gray: #f8f5ff;

$yellow: #ff921d;
$blue: #34c7f1;
$purple: #8e35f9;
$green: #b8e301;

$title: 1.8em;
$text1: 1.5em;
$text2: 1.2em;
$text3: 1em;

$radius: 3em;

$shadow1: 0 5px 30px 0 hsla(216, 16%, 41%, 0.151);
$shadow2: 0 0 30px 0 #5865792e;
$shadow3: 0 5px 20px 0 hsla(266, 9%, 34%, 0.153);
$shadow4: 0px 15px 20px 0px hsla(0, 0%, 0%, 0.118);
$shadow5: 0px 15px 20px -10px hsla(0, 0%, 0%, 0.097);

//screen
$minpc: 1000px;
$tablet: 800px;
$mobile: 480px;

$nav_index: 3;
$modal_index: 4;
